body{
    padding: 0px;
    margin: 0px;
}
.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #28251f;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin: 4px 4px 4px 0px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
.social{
    padding-left: 250px;
}
.social-links a:hover {
    background: #573f16;
    color: #fff;
    text-decoration: none;
  }

.header {
    background: rgba(12, 11, 9, 0.6);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 45px;
}
.header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif; 
}  
.header .logo a {
    color: #fff;
    text-decoration: none;
}
.header .logo a:hover {
    color: #fecd0f;
}
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding-left: 28px;
}
.nav-menu a {
    display: block;
    position: relative;
    color: white;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}
.nav-menu a:hover{
    color: #fecd0f;
}
.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 15px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #1a1814;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #cda45e;
  }
  
  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
/* Mobile Navigation */
.mobile-nav-toggle {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #fff;
  }
  
  .mobile-nav {
    position: fixed;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #1a1814;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav .mobile-nav-close {
    margin: 0 15px 0 auto;
    display: block;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .mobile-nav .mobile-nav-close:hover {
    color: #fff;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
    transition: 0.3s;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #cda45e;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
/*----------------------------------------------*/
.Slider{
    width: 100%;
    height: 100%;
    background-image: url("images/tractor.jpg");
    background-size: cover;
    position: relative;
    padding: 0;
}
.Slider a{
    text-decoration: none;
}
.Slider::before { /* overlaying */
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.block_3_font1{
    font-size: 30px;
    color:rgb(228, 238, 241);
    text-align: center;
}
.block_3_font2{
    font-size: 40px;
    color:rgb(213, 221, 224);
    text-align: center;
}
.block_3_font3{
    font-size: 45px;
    color: #fecd0f;
    text-align: center;
}
.block_3_font4{
    font-size: 15px;
    color:rgb(213, 221, 224);
    text-align: center;
}
.slider_button1{
    background-color:#fecd0f ;
    font-size: 17px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 30px;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    color: white;
    border: 2px solid #cda45e;
}
.slider_button2{
    background-color:#fecd0f ;
    font-size: 17px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 30px;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    color: white;
    border: 2px solid #cda45e;
}
.Slider .slider_button1:hover .slider_button2:hover{
    background: #7a4f05;
    color: #fff;
}

.Block_4_img{
    height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../images/civileng.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.block_4_font1{
    color: #fecd0f;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 5px;
}
.block_4_font2{
    color: #222220;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 20px;
}
.block_4_font3{
    color: #222220;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 20px;
}
.block_4_button{
    width: 130px;
    height: 50px;
    background-color:#fecd0f ;
    font-size: 17px;
    color: white;
    border-radius: 15px;
    border: solid;  
}
.Block_5_font1{
    color: #222220;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}
.Block_5_font2{
    color: #222220;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 30px;
}
.Block_5_icon_1{
    height: 110px;
    width: 110px;
    background-image: url("icons/people.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: solid yellow 3px;
    margin: auto;
    box-shadow:5px 5px 30px #fecd0f, -10px -10px 20px #fecd0f;
}
.Block_5_icon_2{
    height: 110px;
    width: 110px;
    background-image: url("icons/ball.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: solid yellow 3px;
    margin: auto;
    box-shadow:5px 5px 30px#fecd0f, -10px -10px 20px #fecd0f;
}
.Block_5_icon_3{
    height: 110px;
    width: 110px;
    background-image: url("icons/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: solid yellow 3px;
    margin: auto;
    box-shadow:5px 5px 30px#fecd0f, -10px -10px 20px #fecd0f;
}
.Block_5_icon_4{
    height: 110px;
    width: 110px;
    background-image: url("icons/feather.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: solid yellow 3px;
    margin: auto;
    box-shadow:5px 5px 30px#fecd0f, -10px -10px 20px #fecd0f;
}
.Block_5_font3{
    color: #222220;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 20px;
}
.Block_5_font4{
    color: #222220;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}
.Block_6_font1{
    padding-top: 20px;
    color: #222220;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
.Block_6_img_1{
    height: 200px;
    width: 350px;
    background-image: url("images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}
.Block_6_img_2{
    height: 200px;
    width: 350px;
    background-image: url("images/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}
.Block_6_img_3{
    height: 200px;
    width: 350px;
    background-image: url("images/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}
.Block_6_font2{
    color:#222220;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}
.Block_6_font3{
    color:#222220;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}
.block_6_button{
    width: 120px;
    height: 40px;
    background-color:#fecd0f;
    font-size: 17px;
    color: white;
    border-radius: 15px;
    border: solid;
    margin-bottom: 10px;
}
.block_7_font1{
    color:#222220;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
}
.block_7_font2{
    color:#222220;
    font-size: 35px;
    text-align: left;
    margin-top: 10px;
}
.name1{
    border-radius: 15px;
    height: 40px;
    width: 250px;
    margin-top: 35px;
}
.name2{
    border-radius: 15px;
    height: 40px;
    width: 350px;
    margin-top: 20px;
}
.block_7_button{
    width: 150px;
    height: 45px;
    background-color:#222220 ;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    border: solid;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*------------------------------------------------------------------------------------*/
.Footer{
    height: 100%;
    width: 100%;
    background-image: url("images/4.jpg");
    background-size: cover;
    position: relative;
    padding: 0px;
}
.Footer::before { /* overlaying */
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.Footer ul li{
    margin-bottom: 5px;
}
.Footer .copyright {
    text-align: center;
  }
.Block_8_font{
    font-size: 25px;
    text-align: left;
    color:#fecd0f;
    line-height: 1;
    margin-bottom: 10px;
}
.Block_8_font_1{
    font-size: 35px;
    color: rgb(255, 146, 4);
    text-align: left;
    line-height: 1;
    margin-bottom: 15px;
}
.Block_8_font_2{
    font-size: 20px;
    color: rgb(238, 138, 6);
    text-align: left;
    line-height: 1;

}
.Block_8_font_3{
    font-size: 25px;
    color:  rgb(238, 138, 6);
    text-align: left;
    line-height: 1;
}
@media screen and (min-width:1000px)
{
    .social{
        padding-left: 200px;
    }
    .slider_button1{
        margin-left: 300px;
    }
    .slider_button2{
        margin-left: 100px;
    }
}
@media screen and (max-width:999px){
    .social{
        padding-left: 0px;
    }
}
@media screen and (max-width:900px)
{
    .slider_button1{
        margin-left: 0;
    }
    .slider_button2{
        margin-left: 0;
    }
}
